.App {
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
}
.App-Bar{
    background-color: #007eff!important;
}
.App-link {
    font-weight: 300;
    line-height: 22px;
    font-size: 18px;
    color: #007eff;
    margin: 10px;
}

.App-logo {
    height: 50px;
}

.navigation {
    float: right;
    padding-right: 100px;
}

.App-header {
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
